*.pyc
.vscode
.cache
hack.py
scrarch-batchverify.py
*.code-workspace
.ipynb_checkpoints
basic_engine/data/*
basic_engine/src/stderr.txt
data/
.pytest_cache
stockfish/Stockfish/
basic_engine/src/tmp.txt
basic_engine/tests/run_pytest_script.bat
basic_engine/tests/tmp.txt
ignoretmp.txt
stockfish/api/demo.sh
stockfish/api/launch_serverA.py
stockfish/api/py_stockfish/__init__.py
stockfish/api/py_stockfish/stockfish/
stockfish/api/tmp.app.py
stockfish/api/tmp.txt
stockfish/uci.zip
