*.pyc
.vscode
.cache
*.code-workspace
.ipynb_checkpoints
.pytest_cache
__pycache__/

basic_engine/data/
basic_engine/docs/temp/
stockfish/Stockfish/
stockfish/uci.zip

qstockfish/api/py_stockfish/stockfish/
qbasic_engine/src/stderr.txt
qbasic_engine/src/tmp.txt
qbasic_engine/tests/run_pytest_script.bat
qbasic_engine/tests/tmp.txt






