*.pyc
.vscode
.cache
*.code-workspace
.ipynb_checkpoints
.pytest_cache
__pycache__/

# these are directories we dont want to track
basic_engine/data/
basic_engine/docs/temp/
stockfish/Stockfish/
stockfish/uci.zip
# stockfish/py_stockfish/pystockfish/  #this is borderline-trackable

# these are files created by tests/runtests.py
basic_engine/tests/test_tmp.txt
basic_engine/src/stderr.txt






